<h1>New Carpicture</h1>

<div class="row">
  <div class="col-md-10">
    <%= form_for @picture, url: dealer_dealership_model_images_path(@dealership, @model) do |f| %>
      <% if @picture.errors.any? %>
        <h3>Errors</h3>
        <ul>
          <% @picture.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.file_field :image %>
      </div>

      <%= f.submit "Add image", class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col">
    <div class="col">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "Car Details", dealer_dealership_model_path(dealership_id: @dealership.id, id: @model.id), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Images", dealer_dealership_model_images_path(dealership_id: @dealership.id, model_id: @model.id), class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</div>
